/*Cores Principais do Site:
Cor de Fundo: #0F0840 ou rgb(15, 8, 64)
Cor Secundária: #170C59 ou rgb(23, 12, 89)
Cor Terciaria ou de uva: #552F72 ou rgb(85, 47, 114)
Quarta Cor, parecida com a secundária só que mais claro: #2B178B ou rgb(43, 23, 139)
Branco encardido: #EEEFEE ou rgb(238, 239, 238) 
*/

body{
    background:#262626;
    background-image: url('../img/fundo_web.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fade-in 0.5s ease;
}

h1 {
    font-size: 80px;
    text-align: center;
    font-family: cursive;
    color: blueviolet;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
}

p {
    text-align: center;
    margin-top: 13%;
    font-size: 20px;
    color:rgb(85, 47, 114);
}

a {
    text-decoration: none;
    color:  rgb(15, 8, 64);
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
}

a:hover {
    color: rgb(85, 47, 114);
}

a:active {
    color: white
}

button {
    background-color:rgb(23, 12, 89);
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 300px;
    height: 100px;
    border-radius: 50px;
    color: rgb(238, 239, 238);
    font-size: 35px;
    text-decoration: none;
    border-color: rgb(15, 8, 64);
    transition: background-color 0.3s ease;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    transition: transform 0.2s ease; /* Transição suave */
}

button:hover {
    background-color: rgb(85, 47, 114);
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.jumento{
    color: rgb(178, 111, 230);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease; /* Transição suave */
}

.jumento:hover {
    color: rgb(202, 158, 236);
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.jumento:active{
    color: rgb(255, 255, 255);
}

#campos_login{
    text-align: center;
    padding: 10px;
}

#usuario,#senha {
    width: 300px;
    height: 30px;
    border-radius: 300px;
    font-size: 20px;
    background-color: rgb(15, 8, 64);
    color: rgb(238, 239, 238);
    border-width: 3px;
    border-color: blueviolet;
    transition: transform 0.2s ease; /* Transição suave */
}

#usuario:hover,#senha:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

#usuario:active,#senha:active {
    color: rgb(238, 239, 238);
    background-color: rgb(178, 111, 230);
}

#toggleSenha{
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
}

.sora-uniquifier {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
}

/* Animação de fade-in */
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}